// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
// 2. Setup your Custom Colors
$purple: hsl(275,87%,45%);
$purple-invert: findColorInvert($purple);
// 3. Add new color variables to the color map.
@import "bulma/sass/utilities/derived-variables.sass";
$addColors: (
  "purple":($purple, $purple-invert),
);
$colors: map-merge($colors, $addColors);
@import 'bulma/bulma';

// Padding for section
$section-padding: 1rem 1.5rem;
@import "bulma/sass/layout/section.sass";



.site-content {
  flex: 1;
}

.site {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

.table-wrapper {
  overflow-x: auto;
}

// @import 'bulma-extensions/extensions';
